.main-body { 
   background-image: url("https://soulreviver.org/image/slider/background.jpg");
   padding-top: 10px;
}

.navbar-expand-lg, .navbar-light, .bg-light
.navbar-brand, .nav > li > a {
  padding: 50px 50px;
}
