.main-body { 
   background-color: lightblue;
   padding-top: 10px;
}

.nav {
  background-color: lightblue;
}

.navbar-expand-lg, .navbar-light, .bg-light
.navbar-brand, .nav > li > a {
  padding: 20px 20px;
}
